<a href="https://colab.research.google.com/github/DajaKrummenacher/Data-Science-FS22-DajaKrummenacher/blob/main/01_Basic_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="https://github.com/sigvehaug/Introduction-to-Python-Programming-For-Medical-Researchers/blob/master/cover-small.jpg?raw=1">

*This notebook contains an excerpt from the [Whirlwind Tour of Python](http://www.oreilly.com/programming/free/a-whirlwind-tour-of-python.csp) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/WhirlwindTourOfPython).*

*The text and code are released under the [CC0](https://github.com/jakevdp/WhirlwindTourOfPython/blob/master/LICENSE) license; see also the companion project, the [Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook).*

Introduction to Python Programming, 2022-02-15, University of Bern, Sigve Haug

# Basic Python (60 min)

This notebook is a systematic and very condenced overview of
- Python Syntax
- Python Semantics
- Python Operators
- Python Data Types (Built-In)
- Python Data Structures (Built-In)

The content is basic and belongs to necessary knowledge by any Python programmers. One does not learn it by heart, however, after some hours of practicing Python, it automatically becomes active knowledge.

It corresponds to the first six chapters of the book referenced above. There you may get more detailed descriptions.

# Python Syntax

```
# Comments start with a #. They can also come after the code on the same line
print('Hello') # Write Hello

In [1]:
print('schoki')

schoki

```
# Multiline commands can be written with backslash \ or ()

sum = 2 + 3 + 5 \
      - 5*2
print(sum)
sum = (2 + 3 + 5
      - 5*2)
print(sum)
```

In [3]:
sum=2+3+5\
-5*2
print(sum)
sum=(2+3+5
-5*2)
print(sum)

0
0

```
# One may write multiple statements on one line by separating with ;
x=5; y=6; print(x-y)

In [4]:
x=5; y=6; print(x-y); print(y+x)

-1
11

```
# Codeblocks are indicated by intendation and :
for i in range(3):
  sum+=i
print(sum) # Note that Python starts counting at 0
```

In [6]:
for i in range(4):
  sum+=i
print(sum)

9

```
# Parentheses () Are for Grouping or Calling
y = 2 * (3+4) # Grouping
print(y) # Calling
L = [4,2,3,1]
L.sort()  # Calling
print(L) # Calling
```

In [8]:
y=2*(3+4)
print(y)
L=[4,2,3,1]
L.sort()
print(L)

14
[1, 2, 3, 4]

Finishing Up on the Syntax and Learning More

This has been a very brief exploration of the essential features of Python syntax; its purpose is to give you a good frame of reference for when you're reading the code in later sections.
Several times we've mentioned Python "style guides", which can help teams to write code in a consistent style.
The most widely used style guide in Python is known as PEP8, and can be found at https://www.python.org/dev/peps/pep-0008/.
As you begin to write more Python code, it would be useful to read through this!
The style suggestions contain the wisdom of many Python gurus, and most suggestions go beyond simple pedantry: they are experience-based recommendations that can help avoid subtle mistakes and bugs in your code.

#Python Semantics - Variables and Objects

In Python data type declaration on variables is not needed. It has dynamic typing. Most important basic types are natural numbers (integer), real numbers (float), imaginary numbers and text (strings)

```
# Assignment by =
my_variable = 5; print(type(my_variable))
my_variable = 5.0; print(type(my_variable))
```

In Python variables are pointers, i.e. they point to the memory buckets with the actual values. 

In Python everything is an object, it contains not only the value, but also attributes and methods. Methods are invoked by the dot.

```
x = 5.1
print(x.is_integer(), x.real, '+',x.imag) # A method and two attributes
```

In [19]:
x=5.1
print(x.is_integer(),x.real,'+',x.imag)
u=4.30; print(type(u))
my_variable = 5; print(type(my_variable))
my_variable = 5.0; print(type(my_variable))

False 5.1 + 0.0
<class 'float'>
<class 'int'>
<class 'float'>

Since everything is an object and variables are pointers, Python becomes its beauty and slowness. Against slwoness there is the library NumPy.

# Python Operators

Arithmetic operators

```
# Python arithmetic operators
# addition, subtraction, multiplication
print((4 + 8) * (6.5 - 3))
# True division
print(11 / 2)
# Floor division
print(11 // 2)
# Modulus
print(11 % 2)
# Exponentation
print(4 ** 0.5)
```

In [27]:
print(4**0.5)
print(11/2)
print('11/2 in whole numbers is',11//2)
print('the reminder of this is',11%2)
print(103%2) #modulus means reminder

2.0
5.5
11/2 in whole numbers is 5
the reminder of this is 1
1

There are also bitwise operators. These are rarely used and you can looked them up if you think you need them.

Assignment operators

```
x = 2; x += 2; print(x)
x *= 2; print(x)
print('etc')
```

In [30]:
x=2
x+=3
print(x)
x*=2; print(x)

5
10

**Comparison operators**


```
print(4 == 6); print(4 != 6); print(4<6); print(4>6); print(4<=6); print(4>=6)
```

In [36]:
print(4==5)
print(4==2+2)
print(4!=6) #!means not equal
print(4<6)
print(4>6)
print(4>=6)
print(4<=6)

False
True
True
True
False
False
True

**Boolean operators**

and, or, not, xor

```
x = 4
print((x < 6) and (x > 2))
print((x > 10) or (x % 2 == 0))
print(not (x < 6))
# (x > 1) xor (x < 10)
print((x > 1) != (x < 10))
```

In [51]:
x=4
print((x<6) and (x>2))
print((x>10) or (x%2==0)) #eines der beiden muss wahr sein
print(not(x<10), (x<10))
print((x>1)^(x<10))# ^ exclusive or
print((x<1)^(x<10))
print((x>1)!= (x<10))
print((x<1)!= (x<10))

True
True
False True
False
True
False
True

**Identity and Membership Operators**

is, is not, in, not in

```
print(1 is 2)
print(1 is 1)
print(1 in [1, 2, 3])
print(2 not in [1, 2, 3])
```

In [56]:
print(1 is 2)
print(1 is 1)
print(1 in[1,2,3])
print(4 in[1,2,3])
print(2 not in [1,2,3])

False
True
True
False
False

# Python Built-In Types

A computer needs to now the data type, i.e. the representation, in order to do calculations. So every computer langueage has built-in types. In Python the simple, in contrast to compund types (data structures), are summarized in the following table:

<center>**Python Scalar Types**</center>

| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``int``     | ``x = 1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``complex`` | ``x = 1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part) |
| ``bool``    | ``x = True``   | Boolean: True/False values                                   |
| ``str``     | ``x = 'abc'``  | String: characters or text                                   |
| ``NoneType``| ``x = None``   | Special object indicating nulls                              |

```
# Integer
x = -3; print(type(x))
# Float (real numbers)
y1 = 5.3; print(type(y1))
y2 = 6e-4; print(y2)          # Exponential notation - 6 times ten to the minus 4
# Complex
c = 2 + 3j; print(c.real, c.imag)
```

In [61]:
x=-3; print(type(x)) #gives the type of an data
x=-3.4; print(type(x))
y=6e-4; print(y); print(type(y))
c=2+3j; print(type(c)); print(c.real, c.imag)

<class 'int'>
<class 'float'>
0.0006
<class 'float'>
<class 'complex'>
2.0 3.0

```
# String
message = 'Hi Bern. We are happy.'
print(message)
# There are attributes and many methods for string objects. Some examples:
print(len(message), message.upper())
response = 'Nice'
print(message,' ',response)
print(message[3:6])
```

In [69]:
messaga= 'Hi schoki is nice'
print(messaga)
print(len(messaga))#how long is it
print(len(messaga), messaga.upper())
response = 'i agree'
print(messaga, '- ', response)
print(messaga[4:6])

Hi schoki is nice
17
17 HI SCHOKI IS NICE
Hi schoki is nice -  i agree
ch

There is also a None type which has the value 'None' and a Boolean type. If you should encounter then, look them up.

# Python Built-In Data Structures

Python also has several built-in compound types, which act as containers for other types.
These compound types are:

| Type Name | Example                   |Description                            |
|-----------|---------------------------|---------------------------------------|
| ``list``  | ``[1, 2, 3]``             | Ordered collection                    |
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection          |
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Unordered (key,value) mapping         |
| ``set``   | ``{1, 2, 3}``             | Unordered collection of unique values |

As you can see, round, square, and curly brackets have distinct meanings when it comes to the type of collection produced.
We'll take a quick tour of these data structures here.

```
# Lists with some built-in methods
L = [2, 3, 5, 7]
print(len(L))
L.append(11); print(L)
print(L + [13, 17, 19])
L = [2, 5, 1, 6, 3, 4]
L.sort()
print(L)
L = [1, 'two', 3.14, [0, 3, 5]] # Lists can contain various objects
print(L)
```

In [1]:
L=[2,3,5,7]
print(len(L))
L.append(11); print(L)
print(L+ [1, 17, 19])
L= [2,5,8,3,1]
print('unsorted:',L)
L.sort()
print('sorted:',L)
L=[1, 'two', 3.14, [0, 4, 3]]
print(L)

4
[2, 3, 5, 7, 11]
[2, 3, 5, 7, 11, 1, 17, 19]
unsorted: [2, 5, 8, 3, 1]
sorted: [1, 2, 3, 5, 8]
[1, 'two', 3.14, [0, 4, 3]]

```
# Indexing and slicing on lists
L=[2,4,5,'madonna']
print(L[0], L[len(L)-1], L[-1]) # Indexing
print(L[2:4]) # Sclicing
print(L[3:], L[:],L[0:-1:2],L[::-1]) # The third argument is the step size
```

In [102]:
L=[2,4,5,'madonna']
print(L[0])
print(L[0], L[len(L)-1], L[-1])
print(L[-2]); print(L[2])
print(L[len(L)-2])
print(L)
L[0]=1
print(L)

2
2 madonna madonna
5
5
5
[2, 4, 5, 'madonna']
[1, 4, 5, 'madonna']

```
# Tuples are like lists, but cannot be changed once defined
t = (2, 3, 5, 7, 11)     # t = 2,3,5,7,11 also works
t[0] = 3 # Not allowed
```

In [100]:
t=(2,3,5,7,11)
print(t)
t[0]=3

(2, 3, 5, 7, 11)

TypeError: ignored

```
# Dictionaries are like a normal language dictionaries, there is a key word (car) for look up and a value, e.g. what is it in German (Auto).
numbers = {'one':1, 'two':2, 'three':3}
print(numbers['two'])
numbers['car']='Auto'
print(numbers)
numbers.get('car')
```

In [4]:
numbers ={'oneee':1, 'thwwoo':2, 'trii':3}
print(numbers['trii'])
numbers['car']='Auto' #add car equals auto to the dictrionary
print(numbers)
numbers.get('car')

3
{'oneee': 1, 'thwwoo': 2, 'trii': 3, 'car': 'Auto'}

'Auto'

The [python documentation](https://docs.python.org/3/library/stdtypes.html) has a complete list of the methods available for dictionaries.

```
# Sets are much like tuples and you can to set mathematics with them
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
primes.union(odds)
```

In [5]:
primes={2,3,5,7}
odds={1,3,5,9}
primes.union(odds)#combines the two sets

{1, 2, 3, 5, 7, 9}

```
# Sometimes you need to start with an empty data structure. You create them like this:
L=[]; t=(); dic={}
print(L,t,dic)
```

In [7]:
L=[]
print(L)

[]

** More Specialized Data Structures **

Python contains several other data structures that you might find useful; these can generally be found in the built-in ``collections`` module.
The collections module is fully-documented in [Python's online documentation](https://docs.python.org/3/library/collections.html), and you can read more about the various objects available there.

In particular, I've found the following very useful on occasion:

- ``collections.namedtuple``: Like a tuple, but each value has a name
- ``collections.defaultdict``: Like a dictionary, but unspecified keys have a user-specified default value
- ``collections.OrderedDict``: Like a dictionary, but the order of keys is maintained

Once you've seen the standard built-in collection types, the use of these extended functionalities is very intuitive, and I'd suggest [reading about their use](https://docs.python.org/3/library/collections.html).

# Python custom data structures

Many times we would like to handle data of a specific structure, for example we want to keep track of students of a class or clients of a business. For this purpose one can create custom data structures, this can be achieved by the ``class`` statement. To see a short introduction into classes consult [this link](https://www.mikedane.com/programming-languages/python/classes-objects/). A handy use case for classes can be found [here](https://www.mikedane.com/programming-languages/python/building-a-quiz/).

In [18]:
#to create our own data type, which is not already in python
# lets model a student. for this we need a student data type
class Student: #defines what a student is
  def __init__(self, name, major, GPA, is_on_propation): #here we can set characterisics for student data type, now a student needs all of these characterisitcs
    self.name = name
    self.major = major
    self.GPA = GPA
    self.is_on_propation = is_on_propation

student1 = Student('Anna', 'Geology', 4.8, False) #actual student (object)
student2 = Student('Rob', 'VWL', 4.5, False)
print(student1.name)
print(student1.GPA)
print(student2.name, student2.major)
print(student2)

Anna
4.8
Rob VWL
<__main__.Student object at 0x7faeb7447ad0>

# Python ``del`` statement

The syntax of the ``del`` statement is:

``del object_name``,

where ``object_name`` can be variable(s), user-defined objects (also classes, attributes of classes), lists, items within lists, dictionaries etc.

** ``del`` removes variable names from the namespace**
As a result of using del one can free up for example some variable names from the namespace. This command doesn't necessarily affect the object associated to the variable name, it frees up just the pointer (so that it can be used for other purposes maybe). However in some memory intensive applications it might be also used to prepare the objects to be erased by the garbage collector of Python.

In [17]:

del student2.name
print(student2.name)

AttributeError: ignored